@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  height: 300vh; /* 스크롤 공간 확보 */
  background-color: black;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contents {
  position: absolute;
  color: white;
  font-family: "Pretendard-Regular";
  font-size: 50px;
  opacity: 0;
}
